:root{
  --dark-color: #171717;
  --secondary-color :#3c948b; 
  --offwhite-color:whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 1170px;
  margin: auto;
}

.navbar{
  padding: 1rem;
  background: var(--dark-color);

}

.navbar_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_brand a{
  font-size: 1.4rem;
  color: var(--offwhite-color);
  text-decoration: none;

}

.nav_brand a:hover{
  color: var(--secondary-color);
}

.nav_links{
  display: flex;
  list-style: none;
  align-items: center;
}

.links_link a{
  display: block;
  padding: 1rem;
  color: var(--offwhite-color);
  text-decoration: none;
  margin-left: 0.5rem;
  border: 1px solid var(--dark-color);
  font-size: 20px;
}

.links_link a:hover{
  color: var(--secondary-color);
}

.searchbar {
  width: 100%;
  margin: 2rem 0;
}

.searchbar_form > input{
  width: 100%;
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background: var(--offwhite-color);
  color: var(--dark-color);
  font-size: 20px;
  outline-width: 0ch;
}

.searchbar_form > input:focus{
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 1px 1px rgba(60,148,139,0.5);
}

.btn{
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background: var(--dark-color);
  color: var(--offwhite-color);
  margin: 1rem 0;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover{
  color: var(--secondary-color);
}

.btn-block{
  display: block;
  width: 100%;

}

.alert{
  padding: 10px 17px;
  font-size: 20px;
  border: 1px solid var(--dark-color);
  margin: 1rem 0;
}

.alert-warning{
  background: #f8ffc4;
   border: 1px solid #ffee00;
}

.alert-danger{
  background: #ffc4c4 ;
  border: 1px solid#ff0000;
}

.alert-info{
  background: #d7eafa;
  border: 1px solid#0523b7;

}

.listitem{
  text-decoration: none;
  width: 210px;
  background:var(--offwhite-color) ;
  box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  }

img{
  width: 210px;
  height: 295px;
  object-fit: cover;
}

.listitem:hover{
  transform: scale(1.03);
}

.listitem_info{
  color: var(--dark-color);
  text-align: center;
  padding: 10px;
}

.info_name{
  font-size: 1rem;
  padding: 5px;
}

.info_rating{
  color: var(--secondary-color);
  padding: 5px;
}

.homepage_list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.singleshow{
  display: flex;
  margin: 2rem 0;
}

.singleshow > img{
  margin-right: 2rem;
}

.singleshow_info p{
  margin: 1rem 0;
}

.singleshow_genre{
  display: inline-block;
  border-radius: 15px;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 10px 17px;
  background: var(--secondary-color);
  color: var(--offwhite-color); 
}

.about{
  margin: 2rem;
  width: 100%;
}

.about_title{
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

.about_info{
  width: 500px;
  margin: auto;
  text-align: center;
}

.about_info > p{
  font-size: 1.4rem;
  margin: 1rem 0;
  text-align: center;
}

.center_list{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}